* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #301a1a;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #301a1a;
}

.navigaton {
  display: flex;
  flex-direction:column;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 0;
}

.logo__picture {
  width: 3rem;
  height: 3rem;
  
}

.logo__name {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-size: 2rem;
  display: none;
}

.navigation__btn {
  background-image: url("images/hamburger.png");
  background-size: contain;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
}


nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #301a1a;
  padding: 0 1rem 1rem 1rem;
}


@media (max-width: 899px) {
  .nav-closed {
    display: none;
  }
}
nav a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1rem;
  font-size: 18px;
  cursor: pointer;

}

.home {
  background-image: url("images/lion.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.home__name {
  display: flex;
  align-items: flex-end;
  font-size: 2rem;
  text-align: left;
  padding-top: 20rem;
  color: white;
  margin-bottom: 0.5rem;
}

.home__name-2 {
  font-size: 4rem;
}

.home__name-1{
  font-size: 2rem;
  padding: 0 .5rem .5rem 0;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 70px;
}

.gallery__photo {
  position: relative;
  width: 33%;
  
}

section {
  padding: 1rem 0 1rem 0;
}

.gallery__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}


.gallery__photo h4 {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  z-index: 4;
  transition: .3s ease-in-out;

}

.gallery__photo:hover h4 {
  opacity:1;
  animation: move-down .3s linear;
  padding: 1rem;
}


@keyframes move-down {
  0% {
    top: 10%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 50%;
  }

}


/* ----------Zvířata podle světadílu------------ */

.title__animals::before,
.title__animals::after {
  display: inline-block;
  content: "";
  border-top: .1rem solid rgb(189, 189, 189);
  width: 3rem;
  margin: 0 1rem;
  transform: translateY(-.5rem);
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.map__image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.map__item-1 {
  position:absolute;
  left: 29rem;
  top: 0rem;
  width: 2rem;
  height: 2rem;
}

.map__item-2 {
  position:absolute;
  left: 62rem;
  top: 6rem;
  width: 2rem;
  height: 2rem;
}

.map__item-3 {
  position: absolute;
  top: 2.5rem;
  left:49rem;
  width: 2rem;
  height: 2rem;
}

.map__item-4 {
  position: absolute;
  top: 5rem;
  left: 40rem;
  width: 2rem;
  height: 2rem;
}

.map__item-5 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0rem;
  left: 52rem;
}

.map__item-6 {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  left: 19rem;
}

.map__item-1 .tooltiptext,
.map__item-2 .tooltiptext,
.map__item-3 .tooltiptext,
.map__item-4 .tooltiptext,
.map__item-5 .tooltiptext,
.map__item-6 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(37, 37, 37);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.map__item-1 .tooltiptext::after,
.map__item-2 .tooltiptext::after,
.map__item-3 .tooltiptext::after,
.map__item-4 .tooltiptext::after,
.map__item-5 .tooltiptext::after,
.map__item-6 .tooltiptext::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.map__item-1:hover .tooltiptext,
.map__item-2:hover .tooltiptext, 
.map__item-3:hover .tooltiptext,
.map__item-4:hover .tooltiptext,
.map__item-5:hover .tooltiptext,
.map__item-6:hover .tooltiptext{
  visibility: visible;
  opacity: 1;
}



/* -------------------- Aktuality ------------------- */

h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0 2rem 0; 
}
.title__actuality::before,
.title__actuality::after {
  display: inline-block;
  content: "";
  border-top: .1rem solid rgb(189, 189, 189);
  width: 3rem;
  margin: 0 1rem;
  transform: translateY(-.5rem);
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
}

.newsletter__content {
  display: flex;
}

.newsletter__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter__text a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 .4rem .5rem;
}

.newsletter__text p {
  line-height: 1.5;
  padding: 0 0 .4rem .5rem;
}

.newsletter__content img {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(226, 224, 224);
  padding: .5rem;
} 

/* ---------------Novinky e-mailem-------------- */
form {
  text-align: center;
  margin-bottom: 2rem;
}

.news__title {
  font-size: 20px;
}

.news__title::before,
.news__title::after {
  display: inline-block;
  content: "";
  border-top: .1rem solid rgb(189, 189, 189);
  width: 1rem;
  margin: 0 1rem;
  transform: translateY(-.5rem);
}

input {
  width: 10rem;
  height: 1.5rem;
  margin-bottom: .5rem;
  margin-left: .5rem;
}

select {
  width: 10rem;
  height: 1.5rem;
}

.news__btn {
  border: none;
  color: white;
  background-color: black;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: .5rem;
  font-weight: bold;
}


/* ---------------- Patička --------------------- */

footer {
  background-color:#301a1a;
}

footer p {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: .5rem 0 .5rem 0;
}

/* -------------- Media query ------------------ */

@media (min-width: 500px) {
  .newsletter {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .title__actuality:before,
  .title__actuality:after {
    width: 8rem;
  }

  .news__title::before,
  .news__title::after {
    width: 6rem;
  }
}

@media (min-width:870px) {
  .container {
    max-width: 1200px;
  }

  .home {
    height: 700px;
  }

  .logo__name {
    display: block;
  }

  .logo__name span {
    font-weight: bold;
  }

  .logo__picture {
    width: 4rem;
    height: 4rem;
  }

  .navigation {
    flex-direction: row;
    
  
  }
  nav {
    position: relative;
    top: 0;
    padding: 0 1rem 0 1rem;
  }


  nav a {
    display: inline-block;
    width: 4rem;
  }


  .navigation__btn {
    display: none;
  }

  .title__actuality::before,
  .title__actuality::after {
    width: 22rem;
  }

  .title__animals::before,
  .title__animals::after {
    width: 18rem;
  }

  .news__title::before,
  .news__title::after {
    width: 19rem;
  }

  .gallery {
    width: 60%;
    margin: auto;
    margin-top: 8rem;
    height: 100px;
  }

  .gallery__photo h4 {
    font-size: 1.1rem;
  }

  .home__name-2 {
    font-size: 6rem;
  }

  .home__name-1 {
    font-size: 3rem;
  }

  .newsletter {
    flex-direction: row;
  } 

  .news__title {
    font-size: 24px;
  }
  

  input, select {
    width: 13rem;
  }
}



@media (max-width:1200px) {
  .hidden {
    display: none;
  }
}